@import url('materialize.min.css');

/*
body {
    background: #d2e4f4;
    background: -webkit-linear-gradient(to left, #bfd0e0, #bfd0e0);
    background: linear-gradient(to left, #bfd0e0, #bfd0e0);
}*/

html,
body {
    height: 100%;
    width: 100%;
    /* needed for container min-height */
}

#forumcontainer {
    height: 1px;
    min-height: 100%;
}

.wraper.fixed {
    height: 1px;
    min-height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    overflow: hidden;
    background-color: white;
}

.sk-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    right: calc(50% - 100px);
    top: calc(50% - 100px);
    position: absolute;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #2a87e3;
    box-shadow: 1px 1px 1px 1px #1976D2;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

blockquote {
    border-color: #1976D2 !important;
}

.cke_editable {
    padding: 20px;
}

.topic_message_text ul,
.cke_editable ul {
    padding-left: 40px;
}

.topic_message_text ul li,
.cke_editable ul li {
    list-style: initial !important;
}

.topic_message_text ol li,
.cke_editable ol li {
    list-style: decimal outside !important;
}

.circular {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    opacity: 1 !important;
    position: relative !important;
    left: 0 !important;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -1.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background-color: transparent !important;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.glow:hover {
    text-shadow: 0 0 3px #fff;
}

a.disabled {
    pointer-events: none;
}

a.redirect {
    position: relative;
    top: 0.3em;
    font-size: 30px;
}

@media(min-width:601px) {}

@media(max-width:600px) {
        .col.s0
    {
        display: none;
    }
}

@media(max-width:767px) {

}

@media(min-width:768px) {}

@media(max-width:992px) {
    #forumcontainer {
        width: calc(100% - 1.5rem);
        margin-left: 0.75rem;
    }
    .col.m0,
    .col.l0 {
        display: none;
    }
}

.cke_editable.cke_editable_themed.cke_contents_ltr img,
.topic_message_text img {
    height: auto;
    width: 400px;
}

#cke_ckeditor img {
    max-height: 200px;
    max-width: 400px;
}

.pagination {
    text-align: center;
}

@font-face {
    font-family: 'eurof55-webfont';
    src: url('../modules/slider/fonts/eurof55-webfont.eot');
    src: local('☺'), url('../modules/slider/fonts/eurof55-webfont.woff') format('woff'), url('../modules/slider/fonts/eurof55-webfont.ttf') format('truetype'), url('../modules/slider/fonts/eurof55-webfont.svg#webfont8xigBfG2') format('svg');
}

@font-face {
    font-family: 'eurof35-webfont';
    src: url('../modules/slider/fonts/eurof35-webfont.eot');
    src: local('☺'), url('../modules/slider/fonts/eurof35-webfont.woff') format('woff'), url('../modules/slider/fonts/eurof35-webfont.ttf') format('truetype'), url('../modules/slider/fonts/eurof35-webfont.svg#webfont8xigBfG2') format('svg');
}

@font-face {
    font-family: 'graublauweb-webfont';
    src: url('../modules/slider/fonts/graublauweb-webfont.eot');
    src: local('☺'), url('../modules/slider/fonts/graublauweb-webfont.woff') format('woff'), url('../modules/slider/fonts/graublauweb-webfont.ttf') format('truetype'), url('../modules/slider/fonts/graublauweb-webfont.svg#webfont8xigBfG2') format('svg');
}

.clear {
    clear: both;
}

a:link,
a:visited,
a:hover {
    color: #ddd;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#bg {
    position: fixed;
    /* left: 585px; */
    top: 0;
    width: 100%;
    height: 100%;
}

#bgimg {
    display: none;
    cursor: pointer;
    -ms-interpolation-mode: bicubic;
}


/* special IE fix for resized images */

#preloader {
    position: absolute;
    z-index: 2;
    width: 140px;
    padding: 20px;
    top: 20px;
    left: 50px;
    background: #000;
    color: #666;
    font-family: graublauweb-webfont, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#preloader img {
    margin-right: 20px;
}

#toolbar {
    display: inline-block;
    padding: 4px 15px;
    margin: 20px 15px;
    background: #262626 url(../modules/slider/sw_btn_bg.png) repeat-x;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-family: graublauweb-webfont, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

#outer_container {
    position: relative;
    margin: 0;
    /* width: 700px; */
    padding: 0;
    z-index: 2;
    background: url(../modules/slider/empty.gif);
}


/* fucking IE needs a background value to understand hover area */

#customScrollBox {
    position: relative;
    /* background: url(../modules/slider/sw_l_bg.png) repeat-y; */
}

#customScrollBox .container {
    position: relative;
    /* width: 585px; */
    top: 0;
    /* float: left; */
    width: 100%;
}

#customScrollBox .content {
    clear: both;
    max-height: 100%;
    overflow: auto;
}

#customScrollBox .content h1 {
    padding: 5px;
    margin: 10px;
    color: #fff;
    font-family: eurof55-webfont, Helvetica, Arial, sans-serif;
    font-size: 48px;
}

#customScrollBox .content h2 {
    padding: 5px;
    margin: 10px 10px 0 10px;
    color: #fff;
    font-family: eurof35-webfont, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

#customScrollBox .content p {
    padding: 5px;
    margin: 0 10px 10px 10px;
    color: #ddd;
    font-family: graublauweb-webfont, Helvetica, Arial, sans-serif;
    line-height: 26px;
}

.light {
    font-family: eurof35-webfont, Helvetica, Arial, sans-serif;
}

.grey {
    color: #999;
}

.lightgrey {
    color: #ddd;
}

.s36 {
    font-size: 36px;
}

.s24 {
    font-size: 24px;
}

#customScrollBox a.thumb_link {
    position: relative;
    /* margin: 0 0 1px 1px; */
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    display: block;
    float: left;
    /* width: calc(33.3% - 1px); */
    /* max-height: 10.3vw; */
    height: 200px;
    overflow: hidden;
    text-align: center;
    /* text-align: center; */
}

#customScrollBox img {
    border: none;
    /* position: relative; */
    /* left: -50%; */
    /* top: -50%; */
    /* height: 100%; */
    width: 100%;
    text-align: center;
}

#customScrollBox a.thumb_link .selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../modules/slider/sw_thumb_selected.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}

#arrow_indicator {
    position: absolute;
    cursor: pointer;
    width: 50px;
    padding: 10px;
    top: 50%;
    margin-top: -25px;
    left: 20px;
    background: url(../modules/slider/sw_transparent_black_bg.png);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

#nextimage_tip {
    position: fixed;
    z-index: 1;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    background: url(../modules/slider/sw_transparent_black_bg.png);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
    font-family: graublauweb-webfont, Helvetica, Arial, sans-serif;
}

.with_border {
    border: 1px solid #000;
}

.with_shadow {
    -moz-box-shadow: 0 0 40px #000;
    -webkit-box-shadow: 0 0 40px #000;
    box-shadow: 0 0 40px #000;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
