.wraper {
    width: auto;
    /*border: 1px solid black;*/
}

.main-container {
    /*background-color: #E6E6E6;    */
    /*min-height: 500px;*/
    margin: 5px;
}

.top-logo-container {
    width: 100%;
    height: 100px;
}

.top-logo {
    margin: 20px;
}

.menu-one {
    height: 25px;
    margin: 5px;
}

.menu-one-item {
    float: right;
    margin-right: 15px;
    font-family: cursive;
    font-weight: bold;
    font-size: 13px;
}

.menu-one-item:hover {
    cursor: pointer;
}

.hello-user-reg-login {
    background-color: #F4E7EA;
    height: 30px;
    margin: 5px;
    text-align: center;
    padding-top: 3px;
}

.reg-login-a {
    color: black;
}

.reg-login-a:hover {
    cursor: pointer;
}

.navigate-menu {
    /*background-color: #F0F5FA;*/
    height: 30px;
    margin: 5px;
    padding: 0;
    background-color: #4B75A4;
}

.topics {
    margin: 5px;
}

.topics .collection-item.avatar {
    min-height: 150px;
}

.navigate-menu-ul {
    list-style-type: none;
    margin: 0;
    /* Обнуляем значение отступов */
    position: relative;
    padding: 0;
    position: relative;
    height: 100%;
}

.navigate-menu-ul > li {
    display: inline-block;
    /* Отображать как строчный элемент */
    padding: 3px;
    /* Поля вокруг текста */
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color: #4B75A4;
    width: 80px;
    padding-left: 10px;
    height: 100%;
    padding-top: 6px;
    margin-right: -4px;
}

.navigate-menu-ul > li:hover {
    background-color: #008AFF;
}

.navigate-menu-ul li:hover {
    cursor: pointer;
}

.navigate-menu-ul li:hover > .navigate-menu-pop-up {
    display: block;
    left: -11px;
}

.navigate-menu-pop-up {
    position: relative;
    margin-top: 3px;
    left: -9999px;
    padding: 0;
    width: 120px;
    background-color: #4B75A4;
    z-index: 100;
}

.navigate-menu-pop-up > li {
    padding: 2px;
    display: block;
    color: white;
    padding: 8px;
    padding-left: 15px;
}

.navigate-menu-pop-up > li:hover {
    background-color: #008AFF;
}

.topic-path {
    width: auto;
    background-color: #4597DE;
    color: white;
    height: 23px;
}

.topic-path-a:after {
    content: '-';
}

.topic-path-a:last-child:after {
    content: '';
}

.topic-path-a {
    color: white;
    display: inline-block;
}

.topic-path-a:hover {
    color: white;
    cursor: pointer;
}

.topic-path-arrow {
    font-size: 10px;
    margin-right: 3px;
    margin-left: 8px;
}

.topics-table {
    width: auto;
    /*background-color: #EFF6FF;*/
    position: relative;
    /*margin: 5px;*/
    display: table;
    width: 100%;
}

.topics-table-row {
    width: auto;
    min-height 20px;
    position: relative;
    display: table-row;
    color: black;
    cursor: pointer;
}

.topics-table-row:hover {
    background-color: #e1f5fe;
}

.topics-table-row.first-row {
    background-color: #01579b;
    /*  #97CBF4;*/
    color: white;
    height: 40px;
    box-shadow: 0 px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.topics-table-cell {
    width: auto;
    /*border: 1px solid blue;*/
    display: inline-block;
    padding: 10px;
    border: 2px solid #01579b;
    margin: 0;
    margin-right: -5px;
    /*align-items: stretch;*/
    /*vertical-align: middle;*/
    display: table-cell;
}

.topics-table-cell .avatar {
    min-width: 80px;
    max-height: 120px;
    display: inline-block;
}

.topics-table-cell.one {
    text-align: center;
    vertical-align: top;
}

.topics-table-cell .topic-path-a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.topics-table-cell:nth-last-child() {
    margin-right: 0;
}

.topics-table-row.first-row > .topics-table-cell {
    border: none;
    text-align: center;
}

.topics-table-cell.one {
    width: 15%;
}

.topics-table-cell.four {
    width: 85%;
    max-width: 400px;
}

.topics-table-cell.four span {
    word-wrap: break-word;
    /* Перенос слов */
}

.topics-table-cell p {
    margin: 0;
}

.topics-table-cell img {
    max-height: 100px;
}

.footer {
    height: 50px;
    background-color: #4B75A4;
    margin: 5px;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

.footer-button {
    margin: 0 auto;
    color: white;
    width: 130px;
    padding: 5px;
    font-size: 15px;
    display: inline-block;
}

.footer-button .icon {
    margin-left: 5px;
    margin-right: 10px;
}

.footer-button a {
    color: white;
    text-decoration: underline;
}

.footer-button a:hover {
    color: red;
    cursor: pointer;
}

.post-body {
    width: auto;
    /*min-height: 100px;*/
}

.post-divider {
    width: auto;
    height: 15px;
    margin-top: 2px;
    background-color: #647EB7;
}

.post-body .topics-table {}

.post-body .topics-table-cell {
    border: 1px solid white;
    background-color: #F0F7FF;
}

.post-body .topics-table-cell.four {
    vertical-align: top;
}

.post-body .topics-table-cell.one {
    width: 30%;
}

.post-body .first-row .topics-table-cell {
    background-color: #C2DCF3;
}

.post-body .first-row .topics-table-cell.four {
    text-align: left;
}

.post-body-user-nick {
    font-weight: bold;
    font-size: 13px;
    color: black;
    text-decoration: underline;
}

.post-body-user-nick:hover {
    color: #647EB7;
    cursor: pointer;
}

.post-body-date {
    color: black;
    width: 50%;
    display: inline-block;
}

.post-body-date .icon {}

.post-body-msg-num {
    float: right;
    color: black;
}

.avatar {
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
}

.post-user-status {
    font-size: 12px;
    text-align: center;
}

.post-user-status.offline {
    color: red;
}

.post-user-status.online {
    color: blue;
}

.post-body-msg-text {
    color: black;
    font-size: 14px;
}

.post-answer-button {
    height: 30px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to top, #8AC0F3, #EDF5FF);
    color: black;
}

.post-answer-button:hover {
    background: linear-gradient(to top, #4B75A4, #9FB7D3);
}

.post-msg-quote {
    width: 97%;
    margin: 10px;
    position: relative;
}

.post-msg-quote .title {
    color: black;
    font-size: 14px;
    background-color: #DDECFF;
    padding: 10px;
}

.post-msg-quote .text {
    background-color: #FAFCFE;
    color: black;
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
}

.post-msg-quote .left-rectangle {
    float: left;
    background-color: #8394B2;
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
}

.page-list {
    text-align: center;
}

.page-list ul {
    margin-top: -2px;
}

.topic_info {
    text-align: center;
    background-color: #01579b;
    margin: 0 0;
    /* display: inline-block; */
    width: 100%;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.topic_info h4 {
    margin: 0px;
}

.nav-wrapper .breadcrumb:before {
    margin: 0px;
}

.topic_message_author {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.topic_name {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.filled_star {
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("../images/blue_star_filled_small.png");
    display: inline-block;
}

.unfilled_star {
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("../images/blue_star_unfilled_small.png");
    display: inline-block;
}

.link_button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}

.link-button:focus {
    outline: none;
}

.inline {
    display: inline;
}

.row.menu {
    padding: 0;
    margin: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.row.menu>div,
.row.menu nav {
    height: 40px;
    line-height: 40px;
}

.row.menu .search-input {
    margin: 0px;
    height: 90%;
    width: 98%;
    position: absolute;
    border-radius: 10px;
    border-width: 1px;
}

.row.menu .search-container {
    position: absolute;
    right: 10px;
    margin-right: 65px !important;
    bottom: 0px;
    max-height: 40px;
    max-width: 0px;
    background-color: #01579b !important;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
    width: 200px;
}

.row.menu .search-container:hover,
.row.menu .search-container .check-box:hover,
.row.menu .search-container.focused {
    /* width: calc(100% - 200px);*/
    max-width: 200px;
}

.row.menu .search-container .check-box {
    position: absolute;
    max-width: 0px;
    max-height: 0px;
    width: 228px;
    padding-left: 8px;
    background-color: #01579b !important;
    padding-top: 40px;
    z-index: -1;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.row.menu .search-container .check-box:hover,
.row.menu .search-container.focused .check-box {
    max-height: 80px;
    max-width: 228px;
}

.row.menu .search-input:focus {}

.row.menu .search-container:hover:not(.focused) .search-input {

}

.row.menu .search-container.focused .search-input {
    border: none;
    background-color: transparent !important;
}

.row.menu .breadcrumb:last-child div {
    /* content: '\E5CC\E5CC\E5CC';
    margin-right: 15px;
    letter-spacing: -15px;*/
    text-decoration: underline;
}

.row.menu .breadcrumb {
    display: inline-block;
    -webkit-transition: max-width 1.0s;
    -moz-transition: max-width 1.0s;
    -o-transition: max-width 1.0s;
    transition: max-width 1.0s;
    max-height: 40px;
}

.row.menu .breadcrumb:hover div {
    text-decoration: underline;
}

.row.menu .breadcrumb div {
    -webkit-transition: max-width 1.0s;
    -moz-transition: max-width 1.0s;
    -o-transition: max-width 1.0s;
    transition: max-width 1.0s;
    max-width: auto;
}

.row.menu .breadcrumb.hide-me div {
    max-width: 0px;
}

.row.menu .hide-me.breadcrumb::before {
    display: none;
}

.row.menu .breadcrumb:before {
    margin: 0;
}

.row.menu a div {
    color: #fff;
    text-overflow: ellipsis;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.row.menu .col {
    padding: 0;
    margin: 0;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
}

.brand-logo {
    color: #fff;
}

.brand-logo i {
    margin-left: 3px;
}

.user-info {
    float: left;
    /* margin: 10px; */
    margin-left: -80px;
    width: 200px;
    /* height: 150px; */
    /* border-right: 3px; */
    /* border-right-color: #aaa; */
    /* clear: both; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
}

.user-panel.col {
    float: none;
    margin-right: 10px;
}

.user-panel {
    text-align: center;
    display: inline-table;
    align-content: center;
    border-bottom: 2px #eee solid;
    border-right: 2px #eee solid;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 18px;
}

.user-panel div {
    text-overflow: ellipsis;
}

.user-panel .user-name,
.user-panel .user-name div {
    max-width: 120px;
    text-overflow: ellipsis;
    font-size: 19px;
    font-weight: 300;
    text-decoration: underline;
    overflow: hidden;
}

.topic-content {
    margin-top: 0px;
}

.user-contact {
    margin-top: 5px;
}

.user-contact li {
    margin: 3px;
    display: inline-block;
}

.user-msg {}

.topic-content .card-panel {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    position: relative;
    min-height: 330px;
    /*   z-index: -22;*/
}

.topic-content:first-child {}

.topic-content .card-panel:hover .fixed-action-btn.horizontal.post-controll {
    opacity: 1;
}

.circle {
    box-shadow: 0 0 8px rgba(0, 0, 0, .53);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .53);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .53);
}

.circle.sp {
    /*width: 86px;
    height: auto;
    position: static;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 86px;
    display: inline-block;
}

@media(min-width:601px) {
    .user-panel {
        display: block;
        position: absolute;
        bottom: 50px;
        top: 30px;
        max-width: 160px;
        min-width: 160px;
    }
    .user-msg {
        margin-left: 175px;
    }
}


/*
@media(max-width:767px) {}

@media(min-width:768px) {}

@media(min-width:992px) {
    .circle.sp {
        width: 120px;
        height: auto;
        position: static;
    }
}

@media(min-width:1200px) {}*/

.topic-time {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    width: calc(100% - 44px);
    /* left: 20px; */
    /* float: right; */
    border: 2px #ccc solid;
    border-right: none;
    border-bottom: none;
    border-radius: 100px;
    /* margin-left: -52px; */
    margin-top: 3px;
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.back-to-top {
    display: none;
}

.fixed-action-btn.btn-middle {
    width: 40px;
    height: 40px;
}

.fixed-action-btn.horizontal.post-controll {
    position: absolute;
    top: 45px;
    right: 24px;
    bottom: 999px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.fixed-action-btn.horizontal.post-controll ul {
    right: 30px;
}

.fixed-action-btn.horizontal.post-controll ul li {
    margin-top: 0;
}

.white-text {
    color: white;
}

.red-toast {
    background-color: red;
    color: white;
    border-radius: 25px;
}

.green-toast {
    background-color: green;
    color: white;
    border-radius: 25px;
}

.btn-floating img {
    width: 100%;
}
