.wraper {
    width: auto;
    /*border: 1px solid black;*/
}

.main-container {
    /*background-color: #E6E6E6;    */
    /*min-height: 500px;*/
    margin: 5px;
}


/************************************************************************
* HEAD + BREADSCUMB
************************************************************************/

.brand-logo {
    color: white;
}

.row.menu {
    padding: 0;
    margin: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.row.menu>div,
.row.menu nav {
    height: 40px;
    line-height: 40px;
}

.row.menu .search-input {
    margin: 0px;
    height: 90%;
    width: 98%;
    position: absolute;
    border-radius: 10px;
    border-width: 1px;
}

.row.menu .search-container {
    position: absolute;
    right: 10px;
    margin-right: 65px !important;
    bottom: 0px;
    max-height: 40px;
    max-width: 0px;
    background-color: #01579b !important;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
    width: 200px;
}

.row.menu .search-container:hover,
.row.menu .search-container .check-box:hover,
.row.menu .search-container.focused {
    /* width: calc(100% - 200px);*/
    max-width: 200px;
}

.row.menu .search-container .check-box {
    position: absolute;
    max-width: 0px;
    max-height: 0px;
    width: 228px;
    padding-left: 8px;
    background-color: #01579b !important;
    padding-top: 40px;
    z-index: -1;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.row.menu .search-container .check-box:hover,
.row.menu .search-container.focused .check-box {
    max-height: 80px;
    max-width: 228px;
}

.row.menu .search-input:focus {}

.row.menu .search-container:hover:not(.focused) .search-input {}

.row.menu .search-container.focused .search-input {
    border: none;
    background-color: transparent !important;
}

.nav-wrapper .breadcrumb:before {
    margin: 0px;
}

.row.menu .breadcrumb:last-child div {
    /* content: '\E5CC\E5CC\E5CC';
    margin-right: 15px;
    letter-spacing: -15px;*/
    text-decoration: underline;
}

.row.menu .breadcrumb {
    display: inline-block;
    -webkit-transition: max-width 1.0s;
    -moz-transition: max-width 1.0s;
    -o-transition: max-width 1.0s;
    transition: max-width 1.0s;
    max-height: 40px;
}

.row.menu .breadcrumb:hover div {
    text-decoration: underline;
}

.row.menu .breadcrumb div {
    -webkit-transition: max-width 1.0s;
    -moz-transition: max-width 1.0s;
    -o-transition: max-width 1.0s;
    transition: max-width 1.0s;
    max-width: auto;
}

.row.menu .breadcrumb.hide-me div {
    max-width: 0px;
}

.row.menu .hide-me.breadcrumb::before {
    display: none;
}

.row.menu .breadcrumb:before {
    margin: 0;
}

.row.menu a div {
    color: #fff;
    text-overflow: ellipsis;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.row.menu .col {
    padding: 0;
    margin: 0;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
}


/****************
* CONFIGURE HEAD
****************/

.configure-head {
    background-color: #01579b;
    color: white;
    max-height: 40px;
}

.configure-head.hide {
    max-height: 0px;
}


/****************
* PAGINATION
****************/

.page-list {
    text-align: center;
}

.page-list ul {
    margin-top: -2px;
}


/************************************************************************
* TOPIC LIST PAGE
************************************************************************/

ul.collection {
    margin-top: 0px;
}

.topic-item {
    position: relative;
}

.topic-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.topic-item p {
    margin: 0px;
    margin-top: 0.3em;
}

.icon-container {
    position: absolute;
    top: calc(50% - 30px);
    color: #01579b;
}

.topic-info {}

.row .col.topic-info {
    margin-left: 60px;
}

.topic-statistic {
    text-align: right;
}

.topic-last {}

.topic-last .circle.sp.img {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: calc(100% - 80px);
}

.topic-last .msg {
    margin-left: 70px;
}

.topic_message_author {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.topic_name {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.filled_star {
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("../images/blue_star_filled_small.png");
    display: inline-block;
}

.unfilled_star {
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("../images/blue_star_unfilled_small.png");
    display: inline-block;
}

.link_button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}

.link-button:focus {
    outline: none;
}

.inline {
    display: inline;
}


/************************************************************************
* TOPIC VIEW
************************************************************************/


/****************
* AVATAR
****************/

.avatar {
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
}

.user-info {
    float: left;
    /* margin: 10px; */
    margin-left: -80px;
    width: 200px;
    /* height: 150px; */
    /* border-right: 3px; */
    /* border-right-color: #aaa; */
    /* clear: both; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
}

.user-panel.col {
    float: none;
    margin-right: 10px;
}

.user-panel {
    text-align: center;
    display: inline-table;
    align-content: center;
    border-bottom: 2px #eee solid;
    border-right: 2px #eee solid;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 18px;
}

.user-panel div {
    text-overflow: ellipsis;
}

.user-panel .user-name,
.user-panel .user-name div {
    max-width: 120px;
    text-overflow: ellipsis;
    font-size: 19px;
    font-weight: 300;
    text-decoration: underline;
    overflow: hidden;
}

.topic-content {
    margin-top: 0px;
}

.user-contact {
    margin-top: 5px;
}

.user-contact li {
    margin: 3px;
    display: inline-block;
}

.user-msg {}

.topic-content .card-panel {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    position: relative;
    min-height: 330px;
    /*   z-index: -22;*/
}

.topic-content:first-child {}

.topic-content .card-panel:hover .fixed-action-btn.horizontal.post-controll {
    opacity: 1;
}

.circle {
    box-shadow: 0 0 8px rgba(0, 0, 0, .53);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .53);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .53);
}

.circle.sp {
    /*width: 86px;
    height: auto;
    position: static;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 86px;
    display: inline-block;
}

@media(min-width:601px) {
    .user-panel {
        display: block;
        position: absolute;
        bottom: 50px;
        top: 30px;
        max-width: 160px;
        min-width: 160px;
    }
    .user-msg {
        margin-left: 175px;
    }
}


/*
@media(max-width:767px) {}

@media(min-width:768px) {}

@media(min-width:992px) {
    .circle.sp {
        width: 120px;
        height: auto;
        position: static;
    }
}

@media(min-width:1200px) {}*/

.topic-time {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    width: calc(100% - 44px);
    /* left: 20px; */
    /* float: right; */
    border: 2px #ccc solid;
    border-right: none;
    border-bottom: none;
    border-radius: 100px;
    /* margin-left: -52px; */
    margin-top: 3px;
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.back-to-top {
    display: none;
}

.fixed-action-btn.btn-middle {
    width: 40px;
    height: 40px;
}

.fixed-action-btn.horizontal.post-controll {
    position: absolute;
    top: 45px;
    right: 24px;
    bottom: 999px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.fixed-action-btn.horizontal.post-controll ul {
    right: 30px;
}

.fixed-action-btn.horizontal.post-controll ul li {
    margin-top: 0;
}

.white-text {
    color: white;
}

.red-toast {
    background-color: red;
    color: white;
    border-radius: 25px;
}

.green-toast {
    background-color: green;
    color: white;
    border-radius: 25px;
}

.btn-floating img {
    width: 100%;
}
