<!DOCTYPE html>
<html>

<head>
    <title>CrmForum</title>
    <div th:include="includes">...</div>
</head>

<body>
    <div id="forumcontainer" class="container">
        <div class="wraper row">
            <div th:replace="head_template" th:with="categoriesTree=${categoriesTree}">...</div>
            <div class="configure-head hide">
                <div class=""> Розділи </div>
                <div class=""> Останній пост </div>
            </div>
            <ul class="collection">
                <li class="collection-item valign-wrapper row topic-item" th:onclick="'javascript:onDivLinkClick(event,\''+${#httpServletRequest.getContextPath()}+'/view/category/'+${category.id}+'\');'" th:each="category,status  : ${categories}">
                    <div class="icon-container">
                        <i class="medium material-icons">chat_bubble_outline</i>
                    </div>
                    <div class="col s8 m6 topic-info">
                        <p><a class="topic-path-a" th:href="@{/view/category/__${category.id}__}" th:text="${category.name}">
                            Назва розділу
                        </a></p>
                        <p th:text="${category.description}">
                        </p>
                    </div>
                    <div th:if="${lastTopics[status.index]!=null}" class="col s4 m2 topic-statistic">
                        <p>
                            <a>13245</a>
                            <b>тем</b>
                        </p>
                        <p>
                            <a>54545</a>
                            <b>повідомлень</b>
                        </p>
                    </div>
                    <div class="col m0 l4 topic-last">
                        <th:block th:if="${lastTopics[status.index]!=null}">
                            <div class="circle sp img" th:style="'background-image:url(' + @{__${config['baseUrl']}__/images/avatars/__${lastTopics[status.index].author.avatar}__} + ');'" alt=""></div>
                            <div class="msg">
                                <p> <span th:text="${prettyTime.format(lastTopics[status.index].date)}"></span></p>
                                <p> <b>Тема: </b>
                                    <a th:href="@{/view/topic/__${lastTopics[status.index].id}__}" th:text="${lastTopics[status.index].name}"></a>
                                </p>
                                <p><b>Автор: </b>
                                    <a th:href="@{__${config['baseUrl']}__/profile/__${lastTopics[status.index].author.id}__}" th:text="${lastTopics[status.index].author.login}"></a>
                                </p>
                            </div>
                        </th:block>
                        <th:block th:unless="${lastTopics[status.index]!=null}">
                            <p style="text-align: center;"><b>Топіки відсутні</b></p>
                        </th:block>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-list row">
            <span th:unless="${currentCategory==null}" th:include="pagination_template" th:with="pagesCount=${pagesCount}, currentPage=${currentPage}, link='/view/category/__${currentCategory.id}__/'">...</span>
        </div>
    </div>
</body>

</html>
