<!DOCTYPE html>
<html>

<head>
    <title>CrmForum</title>
    <div th:include="includes">...</div>
</head>

<body>
    <div id="forumcontainer" class="container">
        <div class="row">
            <div th:replace="head_template" th:with="categoriesTree=${categoriesTree}">...</div>
            <div class="topics-table">
                <div class="topics-table-row first-row">
                    <div class="topics-table-cell one"> Розділи </div>
                    <div class="topics-table-cell four"> Останній пост </div>
                </div>
                <div class="topics-table-row" th:each="category,status  : ${categories}">
                    <div class="topics-table-cell one">
                        <p><a class="topic-path-a" th:href="@{/view/category/__${category.id}__}" th:text="${category.name}">
					  		 Назва розділу
					  		 </a></p>
                        <p th:text="${category.description}">
                        </p>
                    </div>
                    <div th:if="${lastTopics[status.index]!=null}" class="topics-table-cell four">
                        <p> <span th:text="${#dates.format(lastTopics[status.index].date,'dd/MMM/yyyy HH:mm')}"></span></p>
                        <p> <b>Тема: </b> <span th:text="${lastTopics[status.index].name}"></span> </p>
                        <p><b>Автор</b><span th:text="${lastTopics[status.index].author.login}"></span></p>
                    </div>
                    <div th:unless="${lastTopics[status.index]!=null}" class="topics-table-cell four">
                        <p><b>Топіки відсутні</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-list row">
            <span th:unless="${currentCategory==null}" th:include="pagination_template" th:with="pagesCount=${pagesCount}, currentPage=${currentPage}, link='/view/category/__${currentCategory.id}__/'">...</span>
        </div>
    </div>
</body>

</html>
