<html>

<head>
    <link type="text/css" th:href="@{/css/errors.css}" rel="stylesheet" />
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() { // Аналог $(document).ready(function(){
    	setTimeout(function(){window.history.back()}, 5000);
    });
    </script>>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="clr"></div>
        </div>
        <div class="sp-container">
            <div class="sp-content">
                <div class="sp-globe"></div>
                <h2 class="frame-1">Вибачте за незручності сталася помилка</h2>
                <h2 th:text="${exception}" class="frame-2"></h2>
            </div>
        </div>
    </div>
</body>

</html>
