<html>

<head>
    <link type="text/css" th:href="@{/css/errors.css}" rel="stylesheet" />
    <script th:inline="javascript" type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() { // Аналог $(document).ready(function(){
        if (detectIE() != false) {
            document.getElementById('bb').className += " ie";
        }
        setTimeout(function() {
            debugger;
            if (document.referrer == "")
                window.location.replace([[@{/}]]);
            else
            	window.history.back()
        }, 5000);
    });
    </script>>
</head>
<script type="text/javascript">
function detectIE() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf('MSIE ');
    if (msie > 0) {
        // IE 10 or older => return version number
        return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
    }

    var trident = ua.indexOf('Trident/');
    if (trident > 0) {
        // IE 11 => return version number
        var rv = ua.indexOf('rv:');
        return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
    }

    var edge = ua.indexOf('Edge/');
    if (edge > 0) {
        // Edge (IE 12+) => return version number
        return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
    }

    // other browser
    return false;
}
</script>
<!--[if IE ]>
   <body class="ie">
<![endif]-->
<!--[if !IE]>-->

<body id="bb">
    <!--<![endif]-->
    <div class="container">
        <div class="header">
            <div class="clr"></div>
        </div>
        <div class="sp-container">
            <div class="sp-content">
                <div class="sp-globe"></div>
                <h2 class="frame-1">Вибачте за незручності сталася помилка</h2>
                <h2 th:text="${exception}" class="frame-2"></h2>
            </div>
        </div>
    </div>
</body>

</html>
