<div class="row menu">
    <div class="col l1 m12 s12" style="text-align: center;background-color:#01579b ;margin: auto;height: auto;font-size: 19px;">
        <a th:href="@{/}" class="brand-logo"><i class="material-icons"></i>Forum</a>
    </div>
    <div class="col l11 m12 s12">
        <nav class="light-blue darken-4" style="max-height:64px;    overflow: hidden; box-shadow:none">
            <span class="breadcrumb-container" style="height: 40px; display: block;position: relative; padding-left: 15px;">
                        <a class="breadcrumb" th:href="@{/}"><div>Корінь</div></a>
                            <a th:each="item,itrStat : ${categoriesTree}" data-position="bottom" data-delay="50" th:attr="data-tooltip=${item.name}" class="breadcrumb tooltipped"  th:href="${item.type == T(com.intita.forum.domain.ForumTreeNode.TreeNodeType).CATEGORY} ?  @{/view/category/__${item.id}__} : ( ${item.type == T(com.intita.forum.domain.ForumTreeNode.TreeNodeType).TOPIC} ? (@{/view/topic/__${item.id}__}) : '#')" ><div th:text="${item.name}"></div></a>
                        </span>
            <!-- ===========================
                SEARCH             
            ============================ -->
            <div class="tool-bar">
                <div th:if="${blockSearch == null}" class="search-container input-field" style="">
                    <input class="search-input" placeholder="Пошук" autocomplete="off" id="last_name" type="text" />
                    <i style="position: absolute;bottom: 0px;left: -35px;line-height: 40px;height: 40px;" class="small material-icons">search</i>
                    <div th:if="${topic == null}" class="check-box">
                        <input class="checkbox" type="checkbox" id="test6" /> Шукати по імені
                    </div>
                </div>
                <i id="sortbtn" style="width: 40px; height: 40px;" class="small material-icons pointer glow">clear_all</i>
                <a class="modal-trigger" href="#sorting_modal"><i class="small material-icons pointer glow">sort_by_alpha</i></a>
            </div>
            <img style="width: 35px;height: 35px;position: absolute;right: 5px;bottom: 2.5px;" class="circle" th:src="${user.isAnonymous()} ? @{'/images/no-name-avatar.png'} : '__${config['baseUrl']}__/images/avatars/__${user.avatar}__'" alt="" />
        </nav>
    </div>
</div>
<script th:inline="javascript">
$('.search-container  input')
    .focus(function() {
        $('.search-container').addClass('focused');
    })
    .blur(function() {
        $('.search-container').removeClass('focused');
        $(this).val("");
    })
    .keypress(function(e) {
        if (e.which == 13) {
            // window.location.replace("/view/search/category//1".format());
            debugger;
            window.location.replace(window.location.pathname + "?search=" + $(e.target).val());
        }
    });

$('#sortbtn')
    .click(function(e) {
        $('.configure-head').removeClass('hide-me');
        e.stopPropagation();
    });

var timerToolBar = null;
$('body')
    .click(function(e) {
        var container = $(".configure-head");

        if (!container.is(e.target)) // if the target of the click isn't the container...
            if (container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                timerToolBar = setTimeout(function() {
                    container.addClass('hide-me');
                    timerToolBar = null;
                }, 2000);
                return;
            }
        if (timerToolBar != null)
        {
            clearTimeout(timerToolBar);
        }

    });
</script>
