	<!DOCTYPE html>
	<html style="width: 100%; height: 100%" lang="en" ng-app="springChat">

	<head>
	    <meta charset="utf-8" />
	    <title>IntITA Forum</title>
	    <link rel="icon" href="favicon.ico" />
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
	     <div class="container"  >
	     	<div class="wraper top-logo-container">
				<img src="images\intita_logo.png" alt="InTiTA logo" 
				class="top-logo"></img>
	     	</div>

	     	<div class="wraper menu-one"> 
	     		<div class="menu-one-item">Пошук </div>
	     		<div class="menu-one-item"> Правила </div>
	     		<div class="menu-one-item"> Допомога </div>

	     	</div>
	     	<div class="wraper hello-user-reg-login">
				<b>Доброго часу доби, гість </b> ( 
				<a class="reg-login-a">Вхід</a> |
				<a class="reg-login-a">Реєстрація</a> )
	     	</div>

	     	<div class="wraper navigate-menu">
	     		<ul class="navigate-menu-ul">
	     			<li> Menu 1 	
	     				<ul class="navigate-menu-pop-up">
	     					<li> SubMenu 2</li>
			     			<li> SubMenu 3</li>
			     			<li> SubMenu 4</li>
	     				</ul> 	
	     			</li>

	     			<li> Menu 2 	
	     				<ul class="navigate-menu-pop-up">
	     					<li> SubMenu 2</li>
			     			<li> SubMenu 3</li>
			     			<li> SubMenu 4</li>
	     				</ul> 	
	     			</li>

	     			<li> Menu 3	
	     				<ul class="navigate-menu-pop-up">
	     					<li> SubMenu 2</li>
			     			<li> SubMenu 3</li>
			     			<li> SubMenu 4</li>
	     				</ul> 	
	     			</li>

	     			<li> Menu 4	
	     				<ul class="navigate-menu-pop-up">
	     					<li> SubMenu 2</li>
			     			<li> SubMenu 3</li>
			     			<li> SubMenu 4</li>
	     				</ul> 	
	     			</li>
	     		</ul>
	     	</div>

	     	<div class="wraper topics">
	     		<div class="topic-path">
	     			<div class="glyphicon glyphicon-play topic-path-arrow"></div>
					<a class="topic-path-a"> Курс Java  </a> - 
					<a class="topic-path-a"> Ознайомлення </a> - 
					<a class="topic-path-a"> Що таке мова програмування </a> 
	     		</div>
	     		
					<div class="topics-table">
					  <div class="topics-table-row first-row">
						  	<div class="topics-table-cell one"> Розділи </div>
						  	<div class="topics-table-cell four"> Останній пост </div>
					  	</div>

					  	<div class="topics-table-row">
						  	<div class="topics-table-cell one"> 
						  		<p><a class="topic-path-a"> Назва розділу </a></p>
						  		<p> Короткий опис тексту, опис тексту, опис тексту, оп
						  		ис тексту, опис тексту, опис тексту 		  </p>
						  	 </div>
						  	<div class="topics-table-cell four"> 
								<p> Вчора, 21:44 </p>
								<p> <b>Тема: </b> якась назва теми </p>
								<p> <b>Автор: </b> ім'я даного user </p>
						  	</div>
					  	</div>

						<!-- -->
						<div class="topics-table-row">
						  	<div class="topics-table-cell one"> 
						  		<p><a class="topic-path-a"> Назва розділу </a></p>
						  		<p> Короткий опис тексту, опис тексту, опис тексту, оп
						  		ис тексту, опис тексту, опис тексту 		  </p>
						  	 </div>
						  	<div class="topics-table-cell four"> 
								<p> Вчора, 21:44 </p>
								<p> <b>Тема: </b> якась назва теми </p>
								<p> <b>Автор: </b> ім'я даного user </p>
						  	</div>
					  	</div>
					  	<div class="topics-table-row">
						  	<div class="topics-table-cell one"> 
						  		<p><a class="topic-path-a"> Назва розділу </a></p>
						  		<p> Короткий опис тексту, опис тексту, опис тексту, оп
						  		ис тексту, опис тексту, опис тексту 		  </p>
						  	 </div>
						  	<div class="topics-table-cell four"> 
								<p> Вчора, 21:44 </p>
								<p> <b>Тема: </b> якась назва теми </p>
								<p> <b>Автор: </b> ім'я даного user </p>
						  	</div>
					  	</div>
					  	<div class="topics-table-row">
						  	<div class="topics-table-cell one"> 
						  		<p><a class="topic-path-a"> Назва розділу </a></p>
						  		<p> Короткий опис тексту, опис тексту, опис тексту, оп
						  		ис тексту, опис тексту, опис тексту 		  </p>
						  	 </div>
						  	<div class="topics-table-cell four"> 
								<p> Вчора, 21:44 </p>
								<p> <b>Тема: </b> якась назва теми </p>
								<p> <b>Автор: </b> ім'я даного user </p>
						  	</div>
					  	</div>
					  	<div class="topics-table-row">
						  	<div class="topics-table-cell one"> 
						  		<p><a class="topic-path-a"> Назва розділу </a></p>
						  		<p> Короткий опис тексту, опис тексту, опис тексту, оп
						  		ис тексту, опис тексту, опис тексту 		  </p>
						  	 </div>
						  	<div class="topics-table-cell four"> 
								<p> Вчора, 21:44 </p>
								<p> <b>Тема: </b> якась назва теми </p>
								<p> <b>Автор: </b> ім'я даного user </p>
						  	</div>
					  	</div>
					  	
					  		
					  	<!-- !-->

					  	</div>

					  
					</div>
	     		
	     		<div class="wraper footer">
	     			<div class="footer-button"> 
	     				<a><div class="glyphicon glyphicon-envelope icon"></div>Кнопочка </a>
	     			</div>

	     			<div class="footer-button"> 
	     				<a><div class="glyphicon glyphicon-envelope icon"></div>Кнопочка </a>
	     			</div>

	     			<div class="footer-button"> 
	     				<a><div class="glyphicon glyphicon-envelope icon"></div>Кнопочка </a>
	     			</div>

	     		</div>

	     	
	    
	    </div>
	    <script src="lib/fileinputModule/fileinput.min.js"></script>
	</body>

	</html>
