<!DOCTYPE html>
<html>

<head>
    <title>CrmForum</title>
    <div th:include="includes">...</div>
    <script th:src="@{/libs/xbbcode.js}"></script>
    <script th:src="@{/modules/ckeditor/ckeditor.js}"></script>
    <link type="text/css" th:href="@{/libs/css/xbbcode.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/libs/css/spoiler.css}" rel="stylesheet" />
    <script th:src="@{/js/topic.js}"></script>
    <script th:src="@{/libs/spoiler.js}"></script>
</head>

<body>
    <div id="forumcontainer" class="container">
        <div class="wraper topics row">
            <div th:replace="head_template" th:with="categoriesTree=${categoriesTree}">...</div>
            <!-- Topic info -->
            <div class="topic_info">
                <h4 th:text="${topic.name}"></h4>
            </div>
            <ul class="collection ">
                <li class="row" th:each="message : ${messages}">
                    <div class="col s12 m2 l2" style="    text-align: center;">
                        <img class="circle sp col s4 m12 l12" th:src="@{__${config['baseUrl']}__/images/avatars/__${message.author.avatar}__}" alt="" />
                        <div class="col s8 m12 l12">
                            <span class=" col s12 m12 l12" th:text="${message.author.email}" style=" font-size: 19px;font-weight: 300; text-decoration: underline;">Who</span>
                            <span class="col s12 m12 l12" th:text="${message.author.email}" style=" font-size: 19px;font-weight: 300; text-decoration: underline;">Who</span>
                        </div>
                        
                    </div>
                    <div class="s12 m10 l10">
                        <p style="text-align: left; padding-left: 20px; font-size: 18px;">
                            <span class="topic_message_text" th:text="${message.body}"></span>
                            <br/>
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                    <p class="topic-time" th:text="${prettyTime.format(message.date)}">15:11 10.20.15</p>
                    <a href="#!" style="position: absolute; bottom: 14px; left: 6px;"><i class="material-icons">grade</i></a>
                </li>
            </ul>
            <form th:if="${!user.isAnonymous()}" th:action="@{/messages/add/__${topic.id}__}" method="POST">
                <textarea cols="80" id="ckeditor" name="text" rows="10"></textarea>
                <button id="submitcke" class="waves-effect waves-light btn" style="background-color: rgb(43, 87, 154);width: 100%;border-radius: 0px;box-shadow: none;" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="page-list row">
            <span th:include="pagination_template" th:with="pagesCount=${pagesCount}, currentPage=${currentPage}, link='/view/topic/__${topicId}__/'">...</span>
        </div>
    </div>
</body>

</html>
