<!DOCTYPE html>
<html>

<head>
    <title>CrmForum</title>
    <div th:include="includes">...</div>
    <script th:src="@{/modules/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/js/ckeditor_config.js}"></script>
    <script th:src="@{/js/topic_view.js}"></script>
    <script th:src="@{/libs/spoiler.js}"></script>
    <script th:src="@{/modules/ckeditor/plugins/bbcode/plugin.js}"></script>
</head>

<body>
    <div id="forumcontainer" class="container">
        <div class="wraper row">
            <div th:replace="head_template" th:with="categoriesTree=${categoriesTree}">...</div>
            <div th:if = "${topic != null}" th:include="sort_template" th:with="prefix = '',clearType='TopicMessage', link=@{'/view/topic/' + ${topic.id}}">...</div>
            <!-- Topic info -->
            <ul class="topic-content">
                <li class="card-panel row" th:each="message,iterationStatus : ${messages}" th:with="indexCurrentMsg=${currentPage == 1 ? iterationStatus.count : iterationStatus.count == 1 ?  1 :iterationStatus.count+((currentPage-1)*9) + currentPage - 2},postLink='__${config['baseUrl']}____@{/}__view/post/__${message.id}__'" th:id="@{'msg__${message.id}__'}">
                    <div class="user-panel col s12 m2 l2" style="">
                        <div class="circle sp" th:style="'background-image:url(' + @{__${config['baseUrl']}__/images/avatars/__${message.author.avatar}__} + ');'" alt=""></div>
                        <div class="col s6 m12 l12">
                            <a class="user-name" th:href="@{__${config['baseUrl']}__/profile/__${message.author.id}__}" style="  " th:title="${message.author.getNickName()}">
                                <div th:text="${message.author.getNickName()}"></div>
                            </a>
                            <div th:if="${onlineUsers[message.author.id]!=null}">online</div>
                            <div th:if="${onlineUsers[message.author.id]==null}">offline</div>
                            <ul class="user-contact">
                                <li><a th:href="@{__${config['baseUrl']}__/chat/go/rooms/private/__${message.author.id}__}" th:classappend="${user.isAnonymous()} ? disabled" data-position="bottom" data-delay="100" data-tooltip="Створити чат" class="btn-floating red tooltipped"><i class="material-icons">chat_bubble_outline</i></a></li>
                                <li><a th:href="@{__${config['baseUrl']}__/cabinet/?scenario=message&amp;receiver=__${message.author.id}__#/newmessages/receiver/}" th:classappend="${user.isAnonymous()} ? disabled" data-position="bottom" data-delay="100" data-tooltip="Відправити приватне повідомлення" class="btn-floating green darken-1 tooltipped"><i class="material-icons">email</i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="s12 m10 l10 user-msg">
                        <h4 th:if="${iterationStatus.count == 1 || blockSearch != null}" th:text="${message.topic.name}" style="text-align: center;"></h4>
                        <p style="text-align: left; padding-left: 20px; font-size: 18px;">
                            <div class="topic_message_text" th:utext="${bbcode.process(message.body)}" th:id="@{'topicMessage__${indexCurrentMsg}__'}" th:attr="messageId=${message.id}"></div>
                            <br/>
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                    <!-- Post prety time -->
                    <p class="topic-time" th:text="${prettyTime.format(message.date)}">15:11 10.20.15</p>
                    <!-- Counter -->
                    <a href="#!" th:href="@{'/view/post/__${message.id}__'}" style="position: absolute;bottom: 20px;left: 26px;">
                        <i class="material-icons">grade</i>
                        <i th:text="    №__${indexCurrentMsg}__"></i>
                        <i th:if="${message.updateInfo != null}" th:text="'    повідомлення відредаговане користувачем ' + ${message.updateInfo.editor.getNickName()} + ' ' + ${prettyTime.format(message.updateInfo.date)}"></i>
                    </a>
                    <!-- Post controll btn -->
                    <div class="fixed-action-btn horizontal post-controll">
                        <a class="btn-floating btn-middle red">
                            <i class="large material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a class="btn-floating" onclick="openDialog(event);" th:href="'https://vk.com/share.php?url=__${postLink}__&amp;title=__${message.topic.name}__&amp;description=__${bbcode.process(message.body)}__'">
                                    <img src="http://vk.com/images/share_32_eng.png" />
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating fb" onclick="openDialog(event);" th:href="'https://www.facebook.com/sharer/sharer.php?app_id=1738206246427696&amp;sdk=joey&amp;u=__${postLink}__&amp;display=popup&amp;ref=plugin&amp;src=share_button&amp;title=__${message.topic.name}__&amp;description=__${bbcode.process(message.body)}__'"> <img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" /></a>
                            </li>
                            <!--Social Separator -->
                            <li th:if="${!user.isAnonymous() &amp;&amp; topic != null}" style="font-size: 33px; line-height: 24px; vertical-align: middle;">|</li>
                            <!--/Social Separator -->
                            <!-- dontUse
                            <li th:if="${canEditMap.get(message.id)}"><a href="#remove" class="btn-floating red modal-trigger"><i class="material-icons">delete</i></a></li>
                            -->
                            <li th:if="${canEditMap.get(message.id)}"><a href="#edit00" th:onclick="'runEditPost(' + ${message.id} + ')'" class="btn-floating green"><i class="material-icons">mode_edit</i></a></li>
                            <li th:if="${!user.isAnonymous() &amp;&amp; topic != null}"><a class="btn-floating blue" th:onclick="@{'javascript:quotation(\'__${indexCurrentMsg}__\',\'__${message.author.login}__\')'}"><i class="material-icons">email</i></a></li>
                        </ul>
                    </div>
                </li>
                <li th:if="${ messages == null || messages.getNumberOfElements() == 0}" class="card-panel row" style="position: relative; display: table; width: 100%;">
                    <span style="display: table-cell; vertical-align: middle; text-align: center; width: 100%; font-size: 38px;
">Повідомлення по запиту відсутні</span>
                </li>
            </ul>
            <form id="addMessageForm" th:if="${!user.isAnonymous() &amp;&amp; topic != null}" th:action="@{/messages/add/__${topic.id}__}" method="POST" style="position:relative">
                <textarea cols="80" id="ckeditor" name="text" rows="10"></textarea>
                <button id="submitcke" class="waves-effect waves-light btn" style="background-color: rgb(43, 87, 154);width: 100%;border-radius: 0px;box-shadow: none; position: absolute;
    bottom: 0px; max-height: 27px; line-height: 27px;" th:onclick="@{'javascript:addMessage(event,\'__${#httpServletRequest.getContextPath()}__/messages/add/__${topic.id}__\')'}" name="action">Відправити
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="page-list row">
            <span th:include="pagination_template" th:with="pagesCount=${pagesCount}, currentPage=${currentPage}, link=${paginationLink}">...</span>
        </div>
    </div>
    <div class="fixed-action-btn  back-to-top" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light blue darken-2"><i class="material-icons">navigation</i></a>
    </div>
</body>
<!-- Edit modal window -->
<div id="edit" class="modal bottom-sheet modal-fixed-footer" style="max-height: 90%;overflow: hidden">
    <form id="edit_form" method="post">
        <div class="modal-content">
            <h4>Редагування посту</h4>
            <h5 id="edir_err" style="color:red"></h5>
            <div class="row">
                <div class="input-field col s12" style="postition: absolute; min-height: 70%;overflow: hidden">
                    <textarea cols="20" id="ckeditor_edit" name="topic_text" rows="10">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a style="" id="saveChangesButton" class="waves-effect waves-green btn-flat" onclick="runUpdatePost()">Внести зміни</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Відмінити</a>
        </div>
    </form>
</div>
<!-- Remove modal window -->
<div id="remove" class="modal">
    <div class="modal-content">
        <h4>Видалення запису</h4>
        <p>Ви точно хочите видалити запис?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Так</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ні</a>
    </div>
</div>
<!-- Load Facebook SDK for JavaScript -->
<script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
<div id="fb-root"></div>
<script>
/*$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '1738206246427696',
      version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });     
  });
});

function postToFeed(title, desc, url, image) {
    var obj = {
        method: 'share',
        href: url,
        picture: image,
        name: title,
        description: desc
    };

    function callback(response) {}
    FB.ui(obj, callback);
}*/


/*var fbShareBtn = document.querySelector('.fb');
fbShareBtn.addEventListener('click', function(e) {
    e.preventDefault();
    debugger;
    var title = fbShareBtn.getAttribute('data-title'),
        desc = fbShareBtn.getAttribute('data-desc'),
        url = fbShareBtn.getAttribute('data-href'),
        image = fbShareBtn.getAttribute('data-image');
    postToFeed(title, desc, url, image);

    return false;
});*/
</script>

</html>
